In [1]:
import cleaning_library as cl

In [2]:
cl.limpiar_csv('NOTICIAS_4P_CLEAN.csv','complete_clean_news.csv')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
import pandas as pd
df = pd.read_csv('complete_clean_news.csv')
df.drop(df.columns[0],axis=1,inplace=True)
df.head()

,Categoria,Autor,Titulo,Resumen,Contenido
0,farándula,redacción perú21,fiorella rodríguez presentó dueño corazón mese...,conductora sorprendió fanáticos fotos amor red...,presentadora exjurado artista año fiorella rod...
1,perú,redacción perú21,sujeto arrojó thinner padre 68 años prendió fu...,joven negó incendiado padre víctima graves que...,wandherlay enriquez luque 25 detenido arrojado...
2,política,redacción perú21,luis bedoya reyes llama abogados juristas inte...,político 100 años pronunció importancia postul...,luis bedoya reyes fundadores históricos partid...
3,lima,redacción perú21,separan responsables difundir fotos expresiden...,involucrados hospital casimiro ulloa suspendid...,doctor juan luis herrera director general oper...
4,lima,redacción perú21,reaccionó john galliquio cuestionado denuncia ...,exjugador selección peruana reapareció mostró ...,john galliquio exjugador selección peruana apa...

## Make Corpus

In [9]:
import numpy as np

df_full = df.dropna()
da = df_full['Titulo']
db = df_full['Contenido']
dfinal = db.append(da)
np.savetxt('corpus_general_news.txt',dfinal, fmt='%s', encoding='utf_8')

## Etiquete

In [12]:
df_full['Categoria'].value_counts()

deportes                                                       7124
política                                                       7001
actualidad                                                     6491
fútbol mundial                                                 5916
mundo                                                          5349
lima                                                           5230
perú                                                           4845
economía                                                       3674
espectáculos internacional                                     3669
espectaculos                                                   2776
celebrities                                                    2683
farándula                                                      2638
fútbol internacional                                           2424
none                                                           2107
deporte                                                        1800
selección peruana                                              1776
videojuegos                                                    1627
judiciales                                                     1559
series                                                         1450
espectáculos                                                   1346
descentralizado                                                1299
facebook                                                       1298
fútbol peruano                                                 1267
sucesos                                                        1236
policiales                                                     1234
cine                                                           1219
congreso                                                       1218
latinoamérica                                                  1111
peruanos mundo                                                 1045
unidos                                                         1039
                                                               ...
jean dueñas                                                       1
míºsica                                                           1
biología                                                          1
banda formada 1994 inglaterra llega lima                          1
programación                                                      1
rob reyna                                                         1
armamentismo                                                      1
columnistasivan krastev ikrastevcomerciocompe                     1
rusia 2018                                                        1
seiyi kohayagawa                                                  1
gráfico                                                           1
michael livia                                                     1
informes21                                                        1
columnistasbjørn lomborg blomborgcomerciocompe                    1
entrevista                                                        1
videos                                                            1
wuf                                                               1
pareja prepara boda lunes 30 septiembre carolina sur unidos       1
melissa barrenechea                                               1
ganadores                                                         1
leandro mariátegui                                                1
amã©rica                                                          1
economã­a                                                         1
trotamundos                                                       1
efemí©rides                                                       1
mas trendy                                                        1
oea                                                               1
julio escalante                                                   1
automovilismo                                                     1
estilo vida                                                       1
Name: Categoria, Length: 442, dtype: int64

In [20]:
d1 = df_full.loc[df_full['Categoria']=='deportes']
d2 = df_full.loc[df_full['Categoria']=='política']
d3 = df_full.loc[df_full['Categoria']=='espectaculos']
d4 = df_full.loc[df_full['Categoria']=='espectáculos internacional']
d5 = df_full.loc[df_full['Categoria']=='celebrities']
d12 = d1.append(d2)
d13 = d12.append(d3)
d14 = d13.append(d4)
dfinal = d14.append(d5)
dfinal.head()

,Categoria,Autor,Titulo,Resumen,Contenido
5,deportes,redacción perú21,silvio valencia hinchas sport boys pagar entra...,comentarista deportivo generó indignación afir...,duras críticas viene recibiendo comentarista d...
10,deportes,mijail palacios,mallory aco deportista carrera académica,alumnos enseño respeto responsabilidad técnica...,mallory aco logró medalla 39 coronó participac...
88,deportes,estefania chau,falta barcelona,azulgranas sumado puntos quince disputados acu...,sábado barcelona jugador mundo lionel messi mi...
217,deportes,redacción perú21,gaby pérez solar salud man bok park lamentable...,exvoleibolista refirió situación crítica atrav...,momentos difíciles exvoleibolista gaby pérez s...
291,deportes,estéfano matta,caliente barreras deporte peruano,cristopher bayona demostrando ganas talento co...,meses cristopher bayona dudas certezas campeón...

In [21]:
dfinal['Categoria'].value_counts()

deportes                      7124
política                      7001
espectáculos internacional    3669
espectaculos                  2776
celebrities                   2683
Name: Categoria, dtype: int64

In [22]:
dfinal['target'] = dfinal['Categoria']
dfinal.loc[dfinal['Categoria'] == 'deportes','target'] = 0
dfinal.loc[dfinal['Categoria'] == 'política','target'] = 1
dfinal.loc[dfinal['Categoria'] == 'espectáculos internacional','target'] = 2
dfinal.loc[dfinal['Categoria'] == 'espectaculos','target'] = 2
dfinal.loc[dfinal['Categoria'] == 'celebrities','target'] = 2

In [23]:
dfinal['target'].value_counts()

2    9128
0    7124
1    7001
Name: target, dtype: int64

In [24]:
dfinal.to_csv('label_data_news.csv',encoding='utf_8')